Set up Spark

1. Extract

In [69]:
# this was how i was able to use pyspark i cannot get it to work when i install apache spark onto my mac - jenny
# activate .venv environment
# windows: .\venv\Scripts\activate
# mac: source .venv/bin/activate
# then pip install kaggle, pip install pyspark and pip install findspark inside .venv
# move kaggle.json file into ~/.kaggle
# then you can run data

import kaggle
from pyspark.sql import SparkSession
import findspark
findspark.init()
findspark.find()

dataset = "rohanrao/formula-1-world-championship-1950-2020"

kaggle.api.dataset_download_files(dataset, path='./', unzip=True)

print(f"Dataset {dataset} downloaded successfully!")

 # create spark session
spark = SparkSession.builder.master("local").appName("Driver_Performance_Prediction").getOrCreate()

Dataset URL: https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020
Dataset rohanrao/formula-1-world-championship-1950-2020 downloaded successfully!

In [70]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType
from pyspark.sql.types import DoubleType

results = "results.csv"
qualifying = "qualifying.csv"
lap_times = "lap_times.csv"
pit_stops = "pit_stops.csv"
driver_standings = "driver_standings.csv"
races = "races.csv"
constructors = "constructors.csv"
status = "status.csv"
circuits = "circuits.csv" # might not need

2. Transform

In [71]:
result_df = spark.read.csv(results, header=True, inferSchema=True)

# need to remove \N
result_df = result_df.dropna()
result_df = result_df.drop('number', 'positionText', 'time', 'rank','statusId', 'fastestLap', 'fastestLapTime','fastestLapSpeed', 'time', 'laps', 'points')
result_df = result_df.withColumn('position', col('position').cast(IntegerType()))
result_df = result_df.withColumn('milliseconds', col('milliseconds').cast(IntegerType()))
result_df = result_df.dropna()
result_df = result_df.withColumnRenamed('position', 'final_position')

result_df.show()

+--------+------+--------+-------------+----+--------------+-------------+------------+
|resultId|raceId|driverId|constructorId|grid|final_position|positionOrder|milliseconds|
+--------+------+--------+-------------+----+--------------+-------------+------------+
|       1|    18|       1|            1|   1|             1|            1|     5690616|
|       2|    18|       2|            2|   5|             2|            2|     5696094|
|       3|    18|       3|            3|   7|             3|            3|     5698779|
|       4|    18|       4|            4|  11|             4|            4|     5707797|
|       5|    18|       5|            1|   3|             5|            5|     5708630|
|      23|    19|       8|            6|   2|             1|            1|     5478555|
|      24|    19|       9|            2|   4|             2|            2|     5498125|
|      25|    19|       5|            1|   8|             3|            3|     5517005|
|      26|    19|      15|            7|   3|             4|            4|     5524387|
|      27|    19|       1|            1|   9|             5|            5|     5525103|
|      28|    19|       2|            2|   5|             6|            6|     5528388|
|      29|    19|      17|            9|   6|             7|            7|     5546685|
|      30|    19|       4|            4|   7|             8|            8|     5548596|
|      31|    19|      14|            9|  12|             9|            9|     5554775|
|      32|    19|      18|           11|  11|            10|           10|     5564769|
|      33|    19|      12|            4|  13|            11|           11|     5570757|
|      45|    20|      13|            6|   2|             1|            1|     5466970|
|      46|    20|       8|            6|   4|             2|            2|     5470309|
|      47|    20|       9|            2|   1|             3|            3|     5471968|
|      48|    20|       2|            2|   6|             4|            4|     5475379|
+--------+------+--------+-------------+----+--------------+-------------+------------+
only showing top 20 rows

In [72]:
qualifying_df = spark.read.csv(qualifying, header=True, inferSchema=True)
qualifying_df = qualifying_df.drop('number', 'q1', 'q2', 'q3')
qualifying_df = qualifying_df.withColumnRenamed('position', 'qualifying_position')
qualifying_df.show()

+---------+------+--------+-------------+-------------------+
|qualifyId|raceId|driverId|constructorId|qualifying_position|
+---------+------+--------+-------------+-------------------+
|        1|    18|       1|            1|                  1|
|        2|    18|       9|            2|                  2|
|        3|    18|       5|            1|                  3|
|        4|    18|      13|            6|                  4|
|        5|    18|       2|            2|                  5|
|        6|    18|      15|            7|                  6|
|        7|    18|       3|            3|                  7|
|        8|    18|      14|            9|                  8|
|        9|    18|      10|            7|                  9|
|       10|    18|      20|            5|                 10|
|       11|    18|      22|           11|                 11|
|       12|    18|       4|            4|                 12|
|       13|    18|      18|           11|                 13|
|       14|    18|       6|            3|                 14|
|       15|    18|      17|            9|                 15|
|       16|    18|       8|            6|                 16|
|       17|    18|      21|           10|                 17|
|       18|    18|       7|            5|                 18|
|       19|    18|      16|           10|                 19|
|       20|    18|      11|            8|                 20|
+---------+------+--------+-------------+-------------------+
only showing top 20 rows

In [73]:
lap_times_df = spark.read.csv(lap_times, header=True, inferSchema=True)
lap_times_df = lap_times_df.drop('time')
lap_times_df = lap_times_df.withColumnRenamed('milliseconds', 'lap_time').withColumnRenamed('position', 'lap_position')
lap_times_df.show()

+------+--------+---+------------+--------+
|raceId|driverId|lap|lap_position|lap_time|
+------+--------+---+------------+--------+
|   841|      20|  1|           1|   98109|
|   841|      20|  2|           1|   93006|
|   841|      20|  3|           1|   92713|
|   841|      20|  4|           1|   92803|
|   841|      20|  5|           1|   92342|
|   841|      20|  6|           1|   92605|
|   841|      20|  7|           1|   92502|
|   841|      20|  8|           1|   92537|
|   841|      20|  9|           1|   93240|
|   841|      20| 10|           1|   92572|
|   841|      20| 11|           1|   92669|
|   841|      20| 12|           1|   92902|
|   841|      20| 13|           1|   93698|
|   841|      20| 14|           3|  112075|
|   841|      20| 15|           4|   98385|
|   841|      20| 16|           2|   91548|
|   841|      20| 17|           1|   90800|
|   841|      20| 18|           1|   91810|
|   841|      20| 19|           1|   91018|
|   841|      20| 20|           1|   91055|
+------+--------+---+------------+--------+
only showing top 20 rows

In [74]:
pit_stops_df = spark.read.csv(pit_stops, header=True, inferSchema=True)
pit_stops_df = pit_stops_df.drop('milliseconds', 'time')
pit_stops_df = pit_stops_df.withColumnRenamed('duration', 'stop_duration')
pit_stops_df = pit_stops_df.withColumnRenamed('stop', 'pit_stop')
pit_stops_df = pit_stops_df.withColumn('stop_duration', col('stop_duration').cast(DoubleType()))
pit_stops_df.show()
print(pit_stops_df.dtypes)

+------+--------+--------+---+-------------+
|raceId|driverId|pit_stop|lap|stop_duration|
+------+--------+--------+---+-------------+
|   841|     153|       1|  1|       26.898|
|   841|      30|       1|  1|       25.021|
|   841|      17|       1| 11|       23.426|
|   841|       4|       1| 12|       23.251|
|   841|      13|       1| 13|       23.842|
|   841|      22|       1| 13|       23.643|
|   841|      20|       1| 14|       22.603|
|   841|     814|       1| 14|       24.863|
|   841|     816|       1| 14|       25.259|
|   841|      67|       1| 15|       25.342|
|   841|       2|       1| 15|       22.994|
|   841|       1|       1| 16|       23.227|
|   841|     808|       1| 16|       24.535|
|   841|       3|       1| 16|       23.716|
|   841|     155|       1| 16|       24.064|
|   841|      16|       1| 16|       25.978|
|   841|      15|       1| 16|       24.899|
|   841|      18|       1| 17|       16.867|
|   841|     153|       2| 17|       24.463|
|   841|       5|       1| 17|       24.865|
+------+--------+--------+---+-------------+
only showing top 20 rows

[('raceId', 'int'), ('driverId', 'int'), ('pit_stop', 'int'), ('lap', 'int'), ('stop_duration', 'double')]

In [75]:
# driver position is driver's championship standing
driver_standings_df = spark.read.csv(driver_standings, header=True, inferSchema=True)
driver_standings_df = driver_standings_df.drop('position','positionText', 'wins')
driver_standings_df = driver_standings_df.withColumnRenamed('points', 'driver_points')
driver_standings_df.show()
print(driver_standings_df.dtypes)

+-----------------+------+--------+-------------+
|driverStandingsId|raceId|driverId|driver_points|
+-----------------+------+--------+-------------+
|                1|    18|       1|         10.0|
|                2|    18|       2|          8.0|
|                3|    18|       3|          6.0|
|                4|    18|       4|          5.0|
|                5|    18|       5|          4.0|
|                6|    18|       6|          3.0|
|                7|    18|       7|          2.0|
|                8|    18|       8|          1.0|
|                9|    19|       1|         14.0|
|               10|    19|       2|         11.0|
|               11|    19|       3|          6.0|
|               12|    19|       4|          6.0|
|               13|    19|       5|         10.0|
|               14|    19|       6|          3.0|
|               15|    19|       7|          2.0|
|               16|    19|       8|         11.0|
|               17|    19|       9|          8.0|
|               18|    19|      15|          5.0|
|               19|    19|      17|          2.0|
|               20|    19|      14|          0.0|
+-----------------+------+--------+-------------+
only showing top 20 rows

[('driverStandingsId', 'int'), ('raceId', 'int'), ('driverId', 'int'), ('driver_points', 'double')]

In [76]:
races_df = spark.read.csv(races, header=True, inferSchema=True)
races_df = races_df.drop('year','date','time', 'round','url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time')
races_df = races_df.withColumnRenamed('name', 'circuit_name')
races_df.show()

+------+---------+--------------------+
|raceId|circuitId|        circuit_name|
+------+---------+--------------------+
|     1|        1|Australian Grand ...|
|     2|        2|Malaysian Grand Prix|
|     3|       17|  Chinese Grand Prix|
|     4|        3|  Bahrain Grand Prix|
|     5|        4|  Spanish Grand Prix|
|     6|        6|   Monaco Grand Prix|
|     7|        5|  Turkish Grand Prix|
|     8|        9|  British Grand Prix|
|     9|       20|   German Grand Prix|
|    10|       11|Hungarian Grand Prix|
|    11|       12| European Grand Prix|
|    12|       13|  Belgian Grand Prix|
|    13|       14|  Italian Grand Prix|
|    14|       15|Singapore Grand Prix|
|    15|       22| Japanese Grand Prix|
|    16|       18|Brazilian Grand Prix|
|    17|       24|Abu Dhabi Grand Prix|
|    18|        1|Australian Grand ...|
|    19|        2|Malaysian Grand Prix|
|    20|        3|  Bahrain Grand Prix|
+------+---------+--------------------+
only showing top 20 rows

In [77]:
constructors_df = spark.read.csv(constructors, header=True, inferSchema=True)
constructors_df = constructors_df.drop('url', 'nationality', 'constructorRef')
constructors_df = constructors_df.withColumnRenamed('name', 'constructor_name')
constructors_df.show()

+-------------+----------------+
|constructorId|constructor_name|
+-------------+----------------+
|            1|         McLaren|
|            2|      BMW Sauber|
|            3|        Williams|
|            4|         Renault|
|            5|      Toro Rosso|
|            6|         Ferrari|
|            7|          Toyota|
|            8|     Super Aguri|
|            9|        Red Bull|
|           10|     Force India|
|           11|           Honda|
|           12|          Spyker|
|           13|             MF1|
|           14|      Spyker MF1|
|           15|          Sauber|
|           16|             BAR|
|           17|          Jordan|
|           18|         Minardi|
|           19|          Jaguar|
|           20|           Prost|
+-------------+----------------+
only showing top 20 rows

In [78]:
# we should filter data based on every driver that has finished
status_df = spark.read.csv(status, header=True, inferSchema=True)
status_df.show()

+--------+------------+
|statusId|      status|
+--------+------------+
|       1|    Finished|
|       2|Disqualified|
|       3|    Accident|
|       4|   Collision|
|       5|      Engine|
|       6|     Gearbox|
|       7|Transmission|
|       8|      Clutch|
|       9|  Hydraulics|
|      10|  Electrical|
|      11|      +1 Lap|
|      12|     +2 Laps|
|      13|     +3 Laps|
|      14|     +4 Laps|
|      15|     +5 Laps|
|      16|     +6 Laps|
|      17|     +7 Laps|
|      18|     +8 Laps|
|      19|     +9 Laps|
|      20|    Spun off|
+--------+------------+
only showing top 20 rows

In [79]:
# I don't think we need this dataset unless we want to include the lat, lng and alt 
# of each circuit when it comes to performance but that might be difficult
# plus we already have circuit_id in race
circuits_df = spark.read.csv(circuits, header=True, inferSchema=True)
circuits_df = circuits_df.drop('circuitRef', 'name', 'location', 'url', 'country')
circuits_df.show()

+---------+--------+---------+---+
|circuitId|     lat|      lng|alt|
+---------+--------+---------+---+
|        1|-37.8497|  144.968| 10|
|        2| 2.76083|  101.738| 18|
|        3| 26.0325|  50.5106|  7|
|        4|   41.57|  2.26111|109|
|        5| 40.9517|   29.405|130|
|        6| 43.7347|  7.42056|  7|
|        7|    45.5| -73.5228| 13|
|        8| 46.8642|  3.16361|228|
|        9| 52.0786| -1.01694|153|
|       10| 49.3278|  8.56583|103|
|       11| 47.5789|  19.2486|264|
|       12| 39.4589|-0.331667|  4|
|       13| 50.4372|  5.97139|401|
|       14| 45.6156|  9.28111|162|
|       15|  1.2914|  103.864| 18|
|       16| 35.3717|  138.927|583|
|       17| 31.3389|   121.22|  5|
|       18|-23.7036| -46.6997|785|
|       19|  39.795| -86.2347|223|
|       20| 50.3356|   6.9475|578|
+---------+--------+---------+---+
only showing top 20 rows

3. EDA

In [80]:
import sqlite3 as db
import pandas as pd

conn = db.connect('database.db')
cursor = conn.cursor()

conn.commit()
conn.close()